@font-face {
  font-family: 'Quicksand';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url('Quicksand-Regular.woff2') format('woff2'),
       url('Quicksand-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Quicksand';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url('Quicksand-Medium.woff2') format('woff2'),
       url('Quicksand-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Quicksand';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url('Quicksand-Bold.woff2') format('woff2'),
       url('Quicksand-Bold.woff') format('woff');
}
