.input-field {
    margin: 0 0 24px;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    border: none;
}

.input-field:last-of-type {
    margin-bottom: 60px;
}

.input-field__caption {
    color: #FFF;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.21;
    margin: 0 0 5px;
}

.input-field__input {
    margin: 0;
    padding: 0 0 10px;
    background: none;
    border: none;
    outline: 0;
    outline-offset: 0;
    border-bottom: 1px solid #FFF;
    font-size: 14px;
    line-height: 1.21;
    color: #FFF;
    transition: all .3s ease-out;
}

.input-field__input:-webkit-autofill, .input-field__input:-webkit-autofill:focus {
    -webkit-transition: background-color 600000s 0s,color 600000s 0s;
    transition: background-color 600000s 0s,color 600000s 0s;
}
