.form-error {
    width: 100%;
    position: absolute;
    left: 0;
    top: calc(100% + 5px);
    font-size: 10px;
    line-height: 1.21;
    color: #3f3f3f;
    opacity: 0;
    transition: opacity 0.3s ease-out;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
  }

  .form-error_active {
    opacity: 1;
  }