.login-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #007bfe;
}

.login {
    width: 50%;
    max-width: 396px;
    padding: 50px 0;
}

.login__title {
    margin: 0 0 40px;
    font-size: 24px;
    line-height: 1.21;
    color: #FFF;
}

.login__form {
    position: relative;
}

.login__button_submit {
    width: 100%;
    min-height: 45px;
    background-color: #FFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity .3s ease-out;
}

.login__button_submit:hover {
    opacity: .8
}

.login__button_submit:disabled {
    background-color: #f2f2f2;
    color: #8b8b8b;
    pointer-events: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}